---


const Exprience = [
  {
    title: "Ocean Tool",
    role: "FullStack Developer",
    date: "2023 - 2025",
    description:
      "Forensic tool for screenshares in video games, using advanced technologies. In my role, I have developed part of the website, mainly frontend, and scaled the product as a product designer.",
    link: "https://anticheat.ac",
  },

  
  
];
---

<div>
  <h2 class="text-2xl font-semibold text-neutral-100 ">Experience</h2>

  <ol class="border-s-2 relative border-neutral-900">
    {Exprience.map((exp, index) => (
      <li class="ms-5 mt-4">
        <div class="absolute -start-[6.5px] mt-2 h-3 w-3 rounded-full border border-neutral-600 bg-neutral-800"></div>

        <time class="text-base text-neutral-500 font-mono">{exp.date}</time>

        <div class="flex flex-col mt-1.5 space-y-0.5">
          <h2 class="text-xl font-semibold text-neutral-200">{exp.role}</h2>

          <a
            class="flex flex-row gap-x-1 items-center text-base transition-all duration-300 hover:text-neutral-300 text-neutral-400 group"
            href={exp.link}
            target="_blank"
            rel="noopener noreferrer"
          >
            {exp.title}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="size-3.5 duration-300 lucide group-hover:translate-y-[-0.5px] group-hover:translate-x-[1px] lucide-arrow-up-right-icon lucide-arrow-up-right"
            >
              <path d="M7 7h10v10" />
              <path d="M7 17 17 7" />
            </svg>
          </a>
        </div>

        <div class="text-neutral-400 mt-3">
          <p class="text-sm">{exp.description}</p>
        </div>
      </li>
    ))}
  </ol>
</div>
